/* .hoja {
  color: #dcdce2;
  position: absolute;
  top: 170px;
  left: 158px;
  margin-left: -140px;
  margin-top: -140px;
  width: 280px;
  height: 280px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  line-height: 280px;
  -webkit-font-smoothing: antialiased;
}
.hoja:after,
.hoja:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}
.hoja:after {
  box-shadow: inset 0 17.5px 0 rgba(174, 228, 253, 0.49), inset 17.5px 0 0 rgba(174, 229, 255, 0.42), inset 0 -17.5px 0 rgba(139, 192, 247, 0.34), inset -17.5px 0 0 rgba(143, 207, 253, 0.21);
  animation: rotar 2s -0.5s linear infinite;
}
.hoja:before {
  box-shadow: inset 0 17.5px 0 rgba(172, 236, 236, 0.42), inset 17.5px 0 0 rgba(128, 251, 251, 0.44), inset 0 -17.5px 0 rgba(116, 212, 243, 0.43), inset -17.5px 0 0 rgba(136, 226, 249, 0.45);
  animation: rotarIz 2s -0.5s linear infinite;
}
@keyframes rotar {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
} */
