
<div class="top-border"></div>
<div class="bottom-border"></div>
      <div class="row">
        <div class="logo hoja">
            <img src="img/firepaw-min.png" alt="logo">
        </div>
      </div>
      <div class="web-name">
            <h1>Web-студия<br>BERSERK</h1>
      </div>