@media (max-width: 992px){
.logo img {
    width: 100px;
    position: relative;
    top: -25px;
    left: -25px;
	}
.hoja:after, .hoja:before {
    top: -25px;
    left: 20px;
    width: 70%;
    height: 70%;
	}
.contacts {
    font-size: 1.4em;
	}
}
@media (max-width: 768px){
.logo img {
    width: 75px;
    top: -50px;
    }
.hoja:after, .hoja:before {
    top: -7px;
    left: 46px;
    width: 50%;
    height: 50%;
}

.web-name h1 {
    font-size: 2.3em;
	}	
.web-name {
    height: 30vh;
    padding-bottom: 100px;
	}
footer{
	display: inline-block;
	position: relative;
	bottom: -100px;
	height: auto;
	padding-bottom: 30px;
	}
.block-3 {
    width: 25%;
    line-height: 20px;
	}
.zakaz-btn {
    position: absolute;
    right: -10px;
    top: 0px;
	}
.contacts {
    font-size: 1em;
    padding-right: 8px;
    position: absolute;
    top: 50px;
    right: 0px;
	}
.social {
    font-size: 25px;
	}
.page_about .top-text div {
    margin: 0 auto;
    }
.page_about .top-text div p {
    text-align: center;
    line-height: 1.3em;
    }
}

@media (max-width: 490px){

.top-border, .bottom-border{
    display: none;
}
.hoja {
    left: 100px;
    }
.block-3 {
    width: 50%;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    }
.zakaz-btn {
    position: relative;
    }
.contacts {
    text-align: center;
    position: relative; 
    top: 0px; 
    }
.social{
    text-align: center;
    }
}
