// .circles {
//     position: absolute;
//     top: 25px;
//     left: 40px;
// }

.common {
    width: 225px;
    height: 225px;
    top: 85px;
    left: 90px;
    position: absolute;
    border-radius: 90px;
}

.two {
  border: 0.5px solid #a5a2a2;
  transform: rotate(30deg);
  animation: rotate-animation2 10s infinite linear;
}

.three {
  border: 0.5px solid #4d4fd4;
  transform: rotate(100deg);
  animation: rotate-animation3 5s infinite linear;
}

.four {
  border: 0.5px solid #579624;
  transform: rotate(150deg);
  animation: rotate-animation4 28s infinite linear;
}

.five {
  border: 0.5px solid #24af9d;
  animation: rotate-animation5 25s infinite linear;
}

@keyframes rotate-animation2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-animation3 {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate-animation4 {
  from {
    transform: rotate(150deg);
  }
  to {
    transform: rotate(510deg);
  }
}

@keyframes rotate-animation5 {
  from {
    transform: rotate(100deg);
  }
  to {
    transform: rotate(459deg);
  }
}
